.header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 10px;
  overflow: hidden;
}
.nav-link {
  display: flex;
  float: left;
}
a {
  float: left;
  margin: 10px;
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 2px;
}
h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.add {
  height: 500px;
  width: 800px;
  text-align: center;
  float: center;
  margin: 0 auto;
}
.tox {
  margin-top: 20px;
}
.button {
  width: 100px;
  height: 40px;
  background: black;
  color: white;
  margin-top: 20px;
}
